*{
    margin: 0;
    padding: 0;
}
.hero{
    background-image: url(../image/horse.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
}
h1{
    color:blueviolet;
}