@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.hero{
    background-image: url(../image/horse.jpg);
    background-size: cover;
    background-position: top center;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}
.hero h1{
    color: rgb(117, 190, 214);
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    font-family: geogia;
    word-spacing: 40px;
    letter-spacing: 10px;
    padding-top: 60px;
}
.article,#horse-types{

width: 80%;
margin: 60px auto;
/* border-width: 15px;
border-color: lightcoral;
border-style: groove; */
background:linear-gradient(45deg,lightpink,lightskyblue);

padding: 40px;
}
.article h2,#horse-types h2{
    text-align: center;
    font-size: 48px;
    border-style: solid;
    border-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgb(47, 66, 150);
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.article p{
    font-size: 15px;
    line-height: 2em;
}
.article p .imp{
    font-size: 1.5rem;
    background-color: aqua;
    display: inline;
    width: 600px;

}
.horse-images{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.horse-images div{
    min-width: 300px;
}
.horse-images img{
    width: 100%;
}